@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Ubuntu&display=swap');

.todo_container {
border: 1px solid black;
display: flex;
height: 90vh;
flex-direction: column;
/* justify-content: center; */
/* align-items: center; */
margin: 20px;
}

p {
font-family: 'Ubuntu', sans-serif;
}



.title_header {
background-color: #0a043c;
text-align: center;  
}
.main_title {
text-decoration: underline;
color: #fff;
font-size: 4em;
text-transform: uppercase;  
font-family: 'Open Sans', sans-serif;  
}

.sub_title {
color: #fff;
font-family: 'Ubuntu', sans-serif;
}

.todo_form {
width: 50%;
display: flex;
justify-content: space-evenly;
}


input[type="text"] {
text-align: center;

color: white;
padding: 12px 20px;
width: 50%;
}

.input_field {
border: 2px solid  #c70039;
border-radius: 25px 25px 25px 25px;
border: 2px solid black;
background:  #c70039;
color: white;
outline: none;
}

.button_task {
border: 2px solid  #c70039;
border-radius: 25px 25px 25px 25px;
border: 2px solid black;
background:  #c70039;
color: white;
outline: none;
font-family: 'Ubuntu', sans-serif;
}

.button_task:hover {
background-color: #0a043c;
transition-timing-function: ease-in;
transition: 0.5s;
}


/* Media Queries */

@media(max-width: 480px) {
    .main_title {
    font-size: 2em;
    }

    .todo_form {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 100%;
    }

    p {
    width: 100%;
    margin: 20px 10px;
    text-align: center;
    }

    .input_field {
    padding: 1.5em;
    margin-bottom: 1em;
    }

    .button_task {
    margin-top: 1em;
    padding: 2em;
    }

}

@media(max-width: 768px) {
    
    .todo_form {
    display: flex;
    width: 100%;
    }


    .button_task {
    justify-content: space-evenly;
    }


}


@media(max-width: 1024px) {
.todo_form {
display: flex;
width: 100%;
}

.button_task {
justify-content: space-evenly;
}

}